<html>
  <body>
    <a href="/menuNavegacao">MENU</a>    
    <a href="/imovel_cadastro">Novo Imovel</a>
    <h3>Lista de Imoveis</a></h3>
    <table>
      <thead>
         <tr>
            <th>Código</th>
            <th>Tipo de Imóvel</th>
            <th>Proprietario</th>
            <th>Descrição</th>
            <td></td>
         </tr>
      </thead>    
      <tbody>
        {% for imovel in imoveis %}
        <tr>
          <td> {{imovel.id}}</td>
          <td> {{imovel.tipo_imovel}}</td>
          <td> {{imovel.proprietario.nome}}</td>
          <td> {{imovel.descricao}}</td>
          <td> <a href="/imovel_alterar/{{imovel.id}}">Alterar Dados</a></td>
          <td> <a href="/imovel_visualizar/{{imovel.id}}">Detalhes</a></td>
          <td> <a href="/imovel_menu/{{imovel.id}}/delete">Deletar</a></td>
        </tr>
        {% endfor %}
      </tbody>

    </table>

    
  </body>
</html>