<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>Cliente</title>
  <link rel="stylesheet" href="static/css/form.css">
</head>
<body>
  <div>
    <a href="/cliente_cadastro">Novo Cliente</a>
    <h1>Lista de Clientes</h1>       
    <table> 
      <thead>
        <tr>
            <th>Nome</th>
            <th>CPF/CNPJ</th>
            <th>Fisica/Juridica</th>
            <th>Endereço</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>CEP</th>
            <th>Telefone</th> 
            <th>Email </th>
        </tr>
      </thead>    
      <tbody>
        {% for cliente in clientes %}
        <tr>
          <td> {{cliente.nome}}</td>
          <td> {{cliente.cpf_cnpj}}</td>
          <td> {{cliente.tipo_pessoaj}}</td>
          <td> {{cliente.endereco}}</td>
          <td> {{cliente.cidade}}</td>
          <td> {{cliente.estado}}</td>
          <td> {{cliente.cep}}</td>
          <td> {{cliente.telefone}}</td>
          <td> {{cliente.email}}</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
  </div> 
</body>
</html>