<html>
  <body>    
    <a href="/proprietario_cadastro">Novo Proprietário</a>
    <h3>Lista de Proprietários</a></h3>
    <table>
      <thead>
         <tr>
            <th>Nome</th>
            <th>CPF/CNPJ</th>
            <th>Fisica/Juridica</th>
            <th>Endereço</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>CEP</th>
            <th>Telefone</th>
            <th>Email </th>
         </tr>
      </thead>    
      <tbody>
        {% for proprietario in proprietarios %}
        <tr>
          <td> {{proprietario.nome}}</td>
          <td> {{proprietario.cpf_cnpj}}</td>
          <td> {{proprietario.tipo_pessoaj}}</td>
          <td> {{proprietario.endereco}}</td>
          <td> {{proprietario.cidade}}</td>
          <td> {{proprietario.estado}}</td>
          <td> {{proprietario.cep}}</td>
          <td> {{proprietario.telefone}}</td>
          <td> {{proprietario.email}}</td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
    
  </body>
</html>